@font-face {
    font-family: yekanbakhsh;
    src: url(TTF/YekanBakhFaNum-ExtraBlack.ttf);
    font-weight: 900;
  }
  @font-face {
    font-family: yekanbakhsh;
    src: url(TTF/YekanBakhFaNum-Bold.ttf);
    font-weight: 800;
  }
  @font-face {
    font-family: yekanbakhsh;
    src: url(TTF/YekanBakhFaNum-ExtraBlack.ttf);
    font-weight: 700;
  }
  @font-face {
    font-family: yekanbakhsh;
    src: url(TTF/YekanBakhFaNum-Light.ttf);
    font-weight: 600;
  }
  @font-face {
    font-family: yekanbakhsh;
    src: url(TTF/YekanBakhFaNum-Regular.ttf);
    font-weight: 500;
  }
  @font-face {
    font-family: yekanbakhsh;
    src: url(TTF/YekanBakhFaNum-SemiBold.ttf);
    font-weight: 400;
  }
  @font-face {
    font-family: yekanbakhsh;
    src: url(TTF/YekanBakhFaNum-Thin.ttf);
    font-weight: 300;
  }